{% extends 'noter_app/base.html' %}

{% block content %}

<style>
tr:nth-child(even) {
  background-color: rgba(100, 112, 212, 0.05);
}
tr:hover {background-color: #D6EEEE;}

</style>
    <table class ="table table-borderless" >

        <thead class="border-bottom font-weight-bold" style="background-color: mintcream" >
        <tr>
            <td><h4>Title</h4></td>
            <td><h4>Text</h4></td>
            <td><h4>Category</h4></td>
            <td><h4>Created</h4></td>
            <td><h4>Last edited</h4></td>
            <td>
                <a href="{% url 'note_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus">Add New</i>
                </a>
            </td>
        </tr>
        </thead>
    <tbody>
    {% for note in notes %}

        <tr>
            <td><b>{{ note.title|truncatechars:30  }}</b></td>
            <td>{{ note.text|truncatechars:30  }}</td>
            <td>{{ note.category}}</td>
            <td>{{ note.date_create }}</td>
            <td>{{ note.date_modify }}</td>
        <td>
    <form action="{% url "note_open" note.id %}" method="get" class="d-inline">
               {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </form>
            <a href = "{% url 'note_update' note.id %}" class="btn text-secondary px-0">
               <i class="far fa-edit fa-lg"></i>
            </a>
            <form action="{% url "note_delete" note.id %}" method="post" class="d-inline">
               {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
            </form>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table> <hr>

<nav aria-label="...">
  <ul class="pagination justify-content-center">

    {% if notes.has_previous %}
        <li class="page-item"> <a class="page-link"  href="?page=1">&laquo 1</a></li>
        <li class="page-item"> <a class="page-link" href="?page= {{ notes.previous_page_number }}">Previous</a></li>

    {% endif %}

  {% for i in nums %}
      <li class="page-item"> <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
  {% endfor %}

    {% if notes.has_next %}

        <li class="page-item">  <a class="page-link" href="?page= {{ notes.next_page_number }}">Next</a></li>
        <li class="page-item">  <a class="page-link" href="?page={{ notes.paginator.num_pages }}">Last &raquo;</a></li>

    {% endif %}
    </ul>
</nav>
{% endblock content %}
