{% extends 'noter_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form action="" method="post" autocomplete="off">
    {%  csrf_token %}
    {{ form|crispy}}<br>
        <div class="row">
            <div class="col-md-8"><button type="submit" class="btn btn-success btn-block btn-lg">
            <i class="fa-solid fa-feather-pointed"></i> Write</button>
            </div>
            <div class="col-md-4">

                <a href ="{% url 'note_list' %}"  class="btn btn-secondary btn-block">
                    <i class="fas fa-stream"> See the list</i></a>
            </div>
        </div>


    </form>
{% endblock content %}